<button (click)="home()">Voltar</button>
@defer (when detalhes()) {
    <div class="grid">
        <div class="rightContent">
            <div class="head">
                <h1>{{detalhes()?.name}}</h1>
                <p>Pokedex: {{detalhes()?.id}}</p>
            </div>
            <img class="sprite" [src]="detalhes()!.sprite" alt="">
            <h3>Tipos: {{detalhes()!.types[0]}} {{detalhes()!.types[1] ? 'e ' + detalhes()!.types[1] : ''}}</h3>
            <div class="evolutions">
                <h3>Evoluções</h3>
                @for (stage of detalhes()!.evolutions.stages; track $index) {
                    <div class="stage">
                        <h4>Estágio {{ $index }}</h4>

                        <div class="evolutions">
                        @for (evo of stage; track $index) {
                            <div class="evolution" (click)="goToEvolution(evo.name)">
                                <img [src]="evo.sprite" />
                                <p>{{ evo.name }}</p>

                                @for (req of evo.requirements; track $index) {
                                    <small>{{ req.trigger }}: {{ req.minLevel }} {{req.minHappiness ? 'min-happiness:' + req.minHappiness : ''}} {{req.trigger == 'trade' ? req.heldItem : ''}}</small>
                                    <small>{{ req.trigger !='level-up' ? req.item : '' }}</small>
                                }
                            </div>
                        }
                        </div>
                    </div>
                }
            </div>
            <div class="habilities">
                <h3>Habilidades</h3>
                @if(detalhes()?.abilities){
                    <ul>
                        @for (ability of detalhes()?.abilities; track $index) {
                            <li>{{ability.name}} {{ability.hidden ? '(Habilidade secreta)' : ''}}: {{ability.shortEffect}}</li>
                        }
                    </ul>
                }
            </div>
        </div>

        <div class="leftContent">
            <div class="stats">
                <h3>Status</h3>
                @for(stat of detalhes()?.stats; track $index){
                    <div class="stat">
                        <span class="label">{{ stat.name }}:</span>
                        <span class="value">{{ stat.value }}</span>

                        <div class="bar">
                            <div
                            class="fill"
                            [style.width.%]="stat.percent"
                            [style.background]="stat.color">
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="weakness">
                <h3>Vantagens:</h3>
                <h3>Franquezas:</h3>
                <h3>Resistências:</h3>
            </div>
            <div class="details">
                <h3>Detalhes</h3>
                <p>Altura: {{detalhes()?.rawPokemon.height}}</p>
                <p>Peso: {{detalhes()?.rawPokemon.weight}}</p>
                <p>Ganho de Exp: {{detalhes()?.rawSpecies.growth_rate.name}}</p>
                <p>Egg group: {{detalhes()?.rawSpecies.egg_groups[0].name}}</p>
            </div>
        </div>
    </div>
    <div class="moves">
        <h3 (click)="showMoves = !showMoves">Moves</h3>
        @if(showMoves){
            <div>
                @for(m of detalhes()?.moves; track $index){
                    <app-move [moveName]="m"></app-move>
                }
            </div>
        }
    </div>

    <button>Add pokemon</button>
    
} @placeholder {
    <h1>Carregando...</h1>
}